<ion-header>
  <ion-toolbar>
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cuento</ion-card-subtitle>
      <ion-card-title>Proyecto creado por...</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Diseñadora gráfica Sonia Rama<br> Desarrollador de la app <a href="https://www.manuelvictoria.com" target="blank_"> Manuel Victoria.</a>
    </ion-card-content>
  </ion-card>
</ion-content>
