<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

 
    <img src="../../assets/icon/BOTONES-04.png" alt="" class="topright shadow clickable" routerLink="/" >
    <img src="../../assets/icon/BOTONES-05.png" alt="" class="bottomleft shadow clickable" routerLink="/leer-cuento" >
    <img src="../../assets/icon/BOTONES-07.png" alt="" class="bottomright shadow clickable" routerLink="/leer-cuento" >
    <!-- <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/BOTONES-04.png" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col>
          <img src="../../assets/img/FRASE1_CUENTO-02.png" alt="">
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/BOTONES-04.png" alt="">
        </ion-col>
      </ion-row>
    </ion-grid> -->
</ion-content>
