<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col>
              <img src="../../assets/img/FRASE_PICTOGRAMA-02.png" class="cuentoimg" alt="">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <img src="../../assets/img/leercuento.png" alt="" class="shadow clickable" routerLink="/leer-cuento">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <img src="../../assets/img/autolectura.png" alt="" class="shadow clickable">
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <img src="../../assets/img/DIBUJO_JIRAFA-02.png" alt="">
        </ion-col>
        <ion-col size="1">
          <img src="../../assets/icon/BOTONES-04.png" alt="" class="topright shadow clickable" routerLink="/">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
