<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/img/TEXTO_1-03.png" alt="">
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  >
          <img routerLink="/cuento" src="../../assets/img/BOTONES_SENTIMIENTOS-02.png" alt="" class="shadow clickable">
        </ion-col>
        <ion-col>
          <img src="../../assets/img/BOTONES_SENTIMIENTOS-03.png" alt="" class="shadow">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../../assets/img/BOTONES_SENTIMIENTOS-04.png" alt="" class="shadow">
        </ion-col>
        <ion-col>
          <img src="../../assets/img/BOTONES_SENTIMIENTOS-05.png" alt="" class="shadow">
        </ion-col>
      </ion-row>
    </ion-grid>    
  </div>
  <img src="../../assets/icon/BOTONES-02.png" alt="" class="bottomright" class="shadow">
</ion-content>
